@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --font-primary: 'Poppins', sans-serif;
}

body {
    background-color: hsl(238, 27%, 73%);
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-primary); 
}

.card {
    width: 85vw; 
    max-width: 600px; 
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
    padding: 0;
    box-sizing: border-box;
    height: 90vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.card-tag {
    background-color: #FDF1B5;
    width: fit-content;
    max-width: 70%;
    border-radius: 0 20px 20px 0;
    z-index: 2;
    position: absolute;
    top: 10px;
    left: 0;
    padding: 6px 12px;
    font-size: 1em;
    font-weight: 600;
}

.card-header > img {
    width: 100%;
    height: 300px;
    display: block;
    border-radius: 12px 12px 0 0;
}

.card-content {
    box-sizing: border-box;
    padding: 22px 20px;
    width: 100%;
    text-align: left;
    flex-grow: 1; 
}

.card-content h3 {
    font-weight: 600;
    font-size: 1.8em;
    margin-bottom: 12px;
}

.card-content span {
    font-weight: 200;
    font-size: 0.7em;
    padding-left: 10px;
}

.card-content p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .card {
        width: 95vw; 
        max-width: 550px;
        height: 92vh; 
    }
    
    .card-content {
        padding: 18px;
    }
    
    .card-tag {
        font-size: 0.9em;
        padding: 5px 10px;
    }

    .card-content h3 {
        font-size: 1.5em;
    }

    .card-content p {
        font-size: 0.9em;
    }
}
